.UsersBlock {
    border-radius: 30px;
    display: flex;
    background: #222226;
    min-height: 600px;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1000px;
    padding: 10px;
    margin-bottom: 20px;
}

.userPhoto {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 5px 0;
    border: 1px solid #5b5b5b;
    text-align: center;
}

.userInfoBlock {
    border: 1px solid #2d2d2d;
    background: #464646;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: min-content;
    width: 290px;
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.locationBlock {
    display: flex;
    flex-direction: row;
    margin: 10px 0 20px 0;
}

.userCity {
    margin-left: 2px;
}

.followUnfollowBtn {
    background: #3f3f3f;
    display: flex;
    width: 120px;
    height: 35px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #545454;
    color: #ffffff;
    margin-bottom: 10px;
}

.fullNameBlock {
    margin: 5px 0;
}

.followUnfollowBtn:hover {
    border: 1px solid #5b5b5b;
    background: #464646;
}

.userInfoBlock:hover {
    background: #3c3c3c;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    flex-direction: row;
    cursor: pointer;
    max-width: 1000px;
    flex-wrap: wrap;
}

.page {
    padding: 0 10px;
    font-size: 30px;
    color: white;
}

.selectedPage {
    font-size: 40px;
    color: #777777;
    padding: 0 5px;
}
.userStatus {
    display: flex;
    max-width: 290px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}