.postsBlock {
    padding: 10px;
}

.posts {
    margin-top: 10px;
}

.postTextArea {
    width: 500px;
    height: 30px;
    resize: none;
    border-radius: 30px;
    padding: 8px 0 20px 10px;
    border: none;
    box-sizing: border-box;
    display: flex;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.postTextArea:hover {
    outline: none;
}
.postTextArea:active {
    border: none;
    box-sizing: border-box;
    outline: none;
}
.postTextArea:focus {
    padding:15px;
    border: none;
    box-sizing: border-box;
    height: 150px;
    outline: none;
}

.postTextArea::-webkit-scrollbar {
    display: none;
}