.nav {
    grid-area: n;
    background-color: seagreen;
    padding: 20px;
}
.item a{
    color: white;
    text-decoration: none;
    transition: color 200ms cubic-bezier(0.08,0.52,0.52,1);
    font-size: 18px;
}
.item a.active{
    color: gold;
}
.item a:hover {
    color: gold;
}