.nav {
    grid-area: n;
    margin-top: 40px;
}
.item a{
    display: flex;
    width: 90%;
    color: white;
    text-decoration: none;
    transition: color 200ms cubic-bezier(0.08,0.52,0.52,1);
    font-size: 15px;
    align-items: center;
    justify-content: start;
    height: 40px;
    border-radius: 4px;
    padding-left: 10px;
}
.item a.active{
}
.item a:hover {
    background: #7e7e7e;
}