.descriptionBlock {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    margin-bottom: 50px;
    padding-left: 250px;
    border-top: 2px solid black;
    color: white;
}

.profileHeaderImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileHeaderBlock {
    display: flex;
    height: 300px;
    background-color: #000000;
    position: relative;
    z-index: 0;
}


.profileMainImg {
    display: flex;
    width: 180px;
    border-radius: 50%;
    margin: 20px 50px 0 50px;

    position: absolute;
    top: 240px;
    z-index: 1;
    padding: 2px;
    background: #000000;
}
.descriptionProfile {
    display: flex;
    width: 600px;
    color: white;
}