.item {
    color:greenyellow;
}
.item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: crimson;
}
.likesCount {
    color: yellow;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-weight: bold;
}
