.app-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    display: grid;

    overflow-x: hidden;
    grid-template-areas: "h h"
    "n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
    grid-area: c;
}

hr {
    width: 100%;
    border: none;
    border-top: 1px solid rgb(34,34,38);
    margin: 20px 0;
}

