.dialogs {
    display: flex;
    background: #c56363;
    border-radius: 30px;
    min-height: 600px;
    width: 1000px;
}

.dialogsItems {
    background: #131313;
    padding: 10px;
    color: white;
}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: white;
}

.DialogsBlock {
}

.textArea {
    width: 500px;
    height: 30px;
    resize: none;
    margin: 10px;
    border-radius: 30px;
    padding: 8px 0 20px 10px;
    border: none;
    box-sizing: border-box;
    display: flex;
    -ms-overflow-style: none;
    scrollbar-width: none;
}